@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #2b2b2b;
    color: white !important;
}

.navBar{
    height: 60px;
    background-color: #272822;;
    color: white;
    top: 0;
    font-family: 'Press Start 2P', cursive;
}

.logoContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    padding: 0px 10px;
    filter: invert(1);
    margin-top: 5px;
}

.container{
    margin: 15px auto;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: start;
    font-family: sans-serif;
    width: 50vw;
}

li {
    display: block;
    font-weight: bold;
}

.toolbar-item button{
    cursor: pointer !important;
    color: white !important;
    border: 1px solid white !important;
    border-radius: 15px !important;
    padding: 5px 14px !important;
}   